<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src=”https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js”></script>

    <title>WEBデザイン講習　課題3回目</title>
</head>
<body>
    <div class="hamburgerMenu">
        <span class="hamburgerMenuButtom"></span>
        <span class="hamburgerMenuButtom"></span>
        <span class="hamburgerMenuButtom"></span>
    </div>

    <nav class="hamburgerMenuSP">
        <ul>
            <li class="underLine"><a href="#">top</a></li>
            <li class="underLine"><a href="#">about</a></li>
            <li class="underLine"><a href="#">accese</a></li>
            <li class="underLine"><a href="#">help</a></li>
    
        </ul>
    </nav>

    <header><!-- ヘッダーロゴを左上に表示 -->
        <div class="topLogo"><img class="topLogoImg" src="../img/sappari.png" alt="ロゴ"></div>
    </header><!-- ヘッダー終了 -->
    <main><!-- メイン -->
        <div class="topImgMain">
            <div class="sliderMenu"><!-- slider_menu -->
                <div class="sliderArea"><!-- slider_area -->
                    <div class="mainMenu"><!-- main_menu -->
                        <div><img src="../img/main_01.png" alt="メイン画像1"></div>
                        <div><img src="../img/main_02.png" alt="メイン画像2"></div>
                        <div><img src="../img/main_03.png" alt="メイン画像3"></div>
                        <div><img src="../img/main_04.png" alt="メイン画像4"></div>
                    </div><!-- main_menu -->
                </div><!-- slider_area -->
            </div><!-- slider_menu -->
        </div>
        <div class="mainContents">
            <div class="navMenuBox">
                            <div class="menuButton">
                                <div class="menuImg">
                                    <img class="leftImg" src="../img/pc_img_11.png" alt="飼い主募集中">
                                </div><!--menuImg-->
                                <div class="menuText">
                                    <p>飼い主募集中</p>
                                    <p class="rightText">くま牧場</p>
                                </div><!--menuText-->
                            </div><!--menuButton-->

                            <div class="menuButton">
                                <div class="menuImg">
                                    <img class="leftImg" src="../img/pc_img_10.png" alt="映える海鮮丼ならココ">
                                </div><!--menuImg-->
                                <div class="menuText">
                                    <p>映える海鮮丼ならココ</p>
                                    <p class="rightText">さかないっぱい市場</p>
                                </div><!--menuText-->
                            </div><!--menuButton-->

                            <div class="menuButton">
                                <div class="menuImg">
                                    <img class="leftImg" src="../img/pc_img_08.png" alt="売る気のないメルカソ特集">
                                </div><!--menuImg-->
                                <div class="menuText">
                                    <p>売る気のないメルカソ特集</p>
                                    <p class="rightText">メルカソ</p>
                                </div><!--menuText-->
                            </div><!--menuButton-->
            </div><!-- メニュー終了 -->
        <div class="mainContentsRight">
            <div class="photoAndMovie">
                <div class="photoBox"><!--上部写真ボックス-->
                    <div class="photoBigBOX"><!--左側大きい写真-->
                        <img class="pcImg" src="../img/pc_img_01.png" alt="観覧車">
                    </div>
                    <div class="photoAlbum">
                        <div class="photoUp"><!--右側上の写真-->
                            <img class="pcImg" src="../img/pc_img_02.png" alt="サメ">
                        </div><!--右側上の写真終了-->
                        <div class="photoDown"><!--右側下の写真-->
                            <div class="photoDownLeft">
                                <img class="photoDownLeftImg" src="../img/pc_img_03.png" alt="公園"><img class="photoDownLeftImg" src="../img/pc_img_04.png" alt="富士山">
                            </div>
                            <div class="photoDownRight"></div>
                        </div><!--右側下の写真終了-->
                    </div>
                </div><!--上部写真ボックス終了-->
                <div class="photoBoxsliderSP">
                    <div class="sliderMenu"><!-- slider_menu -->
                        <div class="sliderArea"><!-- slider_area -->
                            <div class="photoBoxSP"><!-- photoBoxSP -->
                                <div><img src="../img/sp_img_01.png" alt="SPイメージ1"></div>
                                <div><img src="../img/sp_img_02.png" alt="SPイメージ2"></div>
                                <div><img src="../img/sp_img_03.png" alt="SPイメージ3"></div>
                                <div><img src="../img/sp_img_04.png" alt="SPイメージ4"></div>
                            </div><!-- photoBoxSP -->
                        </div><!-- slider_area -->
                    </div><!-- slider_menu -->
                </div>
    
                
                <div class="movieBox"><!--Youtube-->
                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/3xqvrazVkuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--Youtube終了-->
            </div><!--photoAndMovie終了-->

        <div class="newsBox"><!--新着情報ボックス-->
            <div class="newsTitleRapper">
                <div class="newsTitle">
                    <div class="newsTitleText"><p class="newsTitleTextLine">新着情報</p></div>
                </div><!--新着情報タイトル-->
            </div>
            <div class="newsList"><!--新着情報内容-->
                <ul class="newsListBox">
                    <li class="newListText">ジンギスカンは松尾が美味しい</li>
                    <li class="newListText">札幌一番は「塩」一択</li>
                    <li class="newListText">北海道赤平市が人気急上昇？</li>
                    <li class="newListText">ジンギスカンは松尾が美味しい</li>
                    <li class="newListText">北海道赤平市が人気急上昇？</li>
                </ul>
            </div><!--新着情報内容終了-->
        </div><!--新着情報ボックス終了-->

        <div class="infoBox"><!--赤平紹介-->
            <div class="infoImg"><!--赤平紹介画像-->
            <div class="infoLeftImg"><img src="../img/pc_img_05.png" class="akahiraImg"></div>
            </div><!--赤平紹介画像終了-->
            <div class="infoText"><!--赤平紹介Text-->

                <div class="infoTitle"><span class="infoTitleText">赤平よいとこ一度はおいで</span></div>
                <div class="infoTextMain">
                    <p>北海道赤平市は北海道出身者が出演する某人気テレビ番組の影響でここ数年で知名度が急上昇。
                    <br>ドラマのロケ地になるほど、注目を集めています。</p>
                </div>
                <div class="infoButton">
                    <div class="infoButtonLeft"><a href="#">もっと知りたい</a></div>
                    <div class="infoButtonRight"><a href="#">今すぐ行きます</a></div>
                </div>
            </div><!--赤平紹介Text終了-->
        </div><!--赤平紹介終了-->
        <div class="akahiraTextSP">
            <div class="infoText"><!--赤平紹介Text-->

                <div class="infoTitle"><span class="infoTitleText">赤平よいとこ一度はおいで</span></div>
                    <div class="akahiraTextSPleft">
                        <div class="akahiraTextSPcomment">
                            <p>北海道赤平市は北海道出身者が出演する某人気テレビ番組の影響でここ数年で知名度が急上昇。
                            <br>ドラマのロケ地になるほど、注目を集めています。</p>
                        </div>
                        <div class="infoButtonSP">
                            <div class="infoButtonLeftSP"><a href="#">もっと知りたい</a></div>
                            <div class="infoButtonRightSP"><a href="#">今すぐ行きます</a></div>
                        </div>
                    </div>
            </div><!--赤平紹介Text終了-->

        </div>

        <div class="shopBox"><!--ショップ画像三つメルカソ-->
            <div class="shopImgBoxRapper">
                <div class="shopImgBox">
                    <div class="shopImg"><img class="shopImgDeco" src="../img/buildingjpeg.jpeg" alt=""></div>
                    <div class="shopText">マンション買うならいくら？</div>
                    <div class="buttonBoxSP">
                        <div class="shopButton"><p><a href="#">欲しい</a></p></div>
                    </div>
                </div>
                <div class="shopImgBox">
                    <div class="shopImg"><img class="shopImgDeco" src="../img/pc_img_07.png" alt=""></div>
                    <div class="shopText">あの時買えばよかったアレ</div>
                    <div class="buttonBoxSP">
                        <div class="shopButton"><p><a href="#">欲しい</a></p></div>
                    </div>
                </div>

                <div class="shopImgBox">
                    <div class="shopImg"><img class="shopImgDeco" src="../img/pc_img_08.png" alt=""></div>
                    <div class="shopText">売る気のないメルカソ特集</div>
                    <div class="buttonBoxSP">
                        <div class="shopButton"><p><a href="#">欲しい</a></p></div>
                    </div>
                </div>
            </div>

            <div class="buttonBox">
                <div class="shopButton"><p><a href="#">メルカソで買い物をする</a></p></div>
            </div>

        </div><!--ショップ画像三つメルカソ終了-->

        <div class="infoBox2"><!--東京紹介-->

            <div class="infoText2"><!--東京紹介Text-->
                <div class="infoImgSP"><!--東京紹介画像-->
                    <img class="infoRightImg" src="../img/pc_img_09.png" alt="">
                </div><!--東京紹介画像終了-->
                <div class="infoTitle"><span class="infoTitleText">東京の空も悪くない</span></div>
                <div class="infoTextMain2">
                    <p>東京は空が狭い。<br>
                        高いビルが隙間なくたくさん伸びていって、<br>
                        空全体が見えることなんてほとんどないけど。<br>
                        たまに高いところから空を見てみると、<br>
                        意外な発見があったりして。一息つくのもいいと思うよ。</p>
                </div>
                <div class="infoButton">
                    <div id="jsOpen" class="infoButtonTokyo">
                        <p class="infoButtonTextDeco"><a href="#">空の写真をもっとみる。</a></p>
                    </div>
                </div>
                <!--ここから、モーダルウィンドウ-->
                <div class="modalWindow">
                    <div class="modalWindowsImg">
                        <div class="modalWindowClose">
                            <div class="jsClose closeButton"><span class="closeButtonIcon"></span>close</div>
                        </div>
                    </div>
                </div>
                <div id="overlayBox" class="overlayBox"></div>
                <!--ここまで-->
            </div>
            <div class="infoImg2"><!--東京紹介画像-->
                <img class="infoRightImg" src="../img/pc_img_09.png" alt="">
            </div><!--東京紹介画像終了-->
        </div><!--東京紹介終了-->

        <div class="shopBox"><!--ショップ画像二つメルカソ-->
            <div class="shopimgboxrapper">
                <div class="shopimgbox">
                    <div class="shopimg"><img calss="shopImgSP" src="../img/pc_img_08.png" alt=""></div>
                    <div class="shoptext">未使用ZIPPO</div>
                    <div class="wantbutton"><a href="#">欲しい</a></div>
                </div>
                <div class="shopimgbox">
                    <div class="shopimg"><img calss="shopImgSP" src="../img/pc_img_08.png" alt=""></div>
                    <div class="shoptext">モノリスオルゴール</div>
                    <div class="wantbutton"><a href="#">欲しい</a></div>
                </div>
            </div>
        </div><!--ショップ画像二つメルカソ終了-->

        <div class="infoBox"><!--日本に生まれてよかったでしょ-->
            <div class="infoImg"><!--画像-->
                <img class="pcImg" src="../img/pc_img_10.png" alt="">
            </div><!--画像終了-->
            <div class="infoText"><!--ext-->
                <div class="infoTitle"><span class="infoTitleText">日本に生まれてよかったでしょ</span></div>
                <div class="infoTextMain"><p>海外旅行に行く度思うこと。「日本のご飯が食べたい。」食べなれているものだからということもあるだろうけれど、それだけじゃないよね。</p></div>
                <div class="japaninfolist"><p class="japanTextDeco"><a href="#">カレーを食べたい</a></p></div>
                <div class="japaninfolist"><p class="japanTextDeco"><a href="#">今日はラーメン</a></p></div>
                <div class="japaninfolist"><p class="japanTextDeco"><a href="#">デート前だから今日はガマン</a></p></div>
            </div>
        </div><!--終了-->
        <div class="dummyBox"></div>
        </div><!--mainContentsRight-->
    </main><!-- メイン終了 -->
</div><!-- maincontents終了 -->
    <footer>
        <div class="buttom"><img class="footerLogo" src="../img/sappari.png" alt=""></div>
        <div class="addressbox">
            <p class="address">Matsuko sheep</p>
            <p class="address">&#12306;000-0000 TOKYO SHINJYUKU 0-0-0</p>
        </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>